# Development stuff
*.env
.testmode
.vscode/
node_modules/
__pycache__/

# Typescript build files
dist/

# Log files
logs/

# Wordlists
# These are only private to stop people cheating at the games >:(
hangman_words.js
typeracer_words.js

# Generated images
img/typeracer.png
img/calendar.png
img/inventory.png
img/prizeball.gif
img/spinner.gif
img/roulette.gif
img/event_generated/
img/vtexture_output/

# Theia palettes
palettes/*
!palettes/flatui.txt
!palettes/horizon.txt

# VTFLib installations
vtflib