# Development stuff
.env
.testmode
.vscode/
node_modules/
python/__pycache__/
package-lock.json

# Data files
data/events/
data/mutes/
logs/

# Wordlists (stop people cheating at hangman)
hangman_words.js
typeracer_words.js

# Generated images
img/calendar.png
img/inventory.png
img/prizeball.gif
img/spinner.gif
img/roulette.gif